/node_modules
/public/hot
/public/storage
/public
/storage/*.key
/vendor
vendor.rar
vendor.zip
bdd-web.zip
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public
